body {
  background-color: white;
}

p {
  color: #000000;
  font-family: "Roboto Mono", monospace;
}

h1,h2,h3,h4,h5,h6 {
  color: #000000;
  font-family: "Roboto Mono", monospace;
}

.featureimage {
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.featureimage {
  background-image: url("images/clubphotos/IMG_0090.jpg");
  min-height: 800px
}
